.name {
    font-family: "Libre Baskerville", sans-serif;
    text-align: center;
}

.description {
    font-family: "IMB Plex Sans", sans-serif;
    line-height: 50%;
    text-align:center;
    color: #FFFBFC;
    background-color: #747df8; 
    padding: 1%;
}

body {
    background-color: #FFFBFC;
}
.photo {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.internal-links{ 
    display: flex;
    font-size: 15px;
    margin-left: 8px;  
    height: 30px;
    padding: 0px;
}

.internal-links a {
    margin-top: 0px;
    text-decoration: none;
    margin-right: 10px;
}

.container-habilidades {
    background-color:  #e4e4e4;
    display: flex;
    margin: auto;
    font-size: 27px;
    font-family: 'Nunito', sans-serif;
    justify-content: space-around;
    border: solid 3px;
    border-radius: 1%;
    height: 380px;
    width: 1200px;
}

.habilidades-descricao, .logos {
    margin-top: 50px;
    height: 300px;
    line-height: 37px;
}

#habilidade-header {
    margin-top: 0;
}