* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.top-bar {
  align-items: center;
  background: linear-gradient(rgb(236, 236, 0),rgb(240, 255, 108));
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;
}

.top-bar .input-name-group {
  align-items: flex-start;
  display: flex;
}

.top-bar input {
  background-color: snow;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1.2em;
  font-weight: 500;
  height: 28%;
  margin-right: 5px;
  padding-left: 8px;
  width: 40%;
}

.top-bar button {
  background-color: snow;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 1.1em;
  height: 30px;
  width: 7%;

  transition: .3s;
}

.top-bar button:hover {
  background-color: #ccc;
  cursor: pointer;
}

.container {
  background: rgb(241, 241, 241);
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.item {
  background: white;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  box-shadow: 1px 1px 5px grey;
  width: 200px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: yellow;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 5px;
}

.cart {
  background-color: black;
  border-radius: 5px;
  box-shadow: 1px 1px 5px grey;

  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: space-between;
  flex-basis: 30%;

  position: fixed;
  height: 75%;
  right: 3%;
  top: 130px;
  
  padding: 8px;
  width: 25%;
}

.cart .cart__title {
  background-color: black;
  color: yellow;
  margin-top: 12px;
  flex-basis: 1;
  font-size: 25pt;
  text-align: center;
}

.cart .items-cart-wrapper {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: white;
  height: 75%;
  width: 90%;
  overflow: auto;
  padding: 25px;
}

.cart .items-cart-wrapper .cart__item {
  margin: 0 0 10px 8px;
}

.cart .cart-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2em;
  color: white;
  height: 5%;
  width: 95%;
  margin-bottom: 5px;
}

.cart .cart-footer button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 5px;
  border: none;
  height: 30px;
  width: 45%;
  font-size: 1em;
  cursor: pointer;
  transition: .3s;
}

.cart .cart-footer button:hover {
  background-color: rgb(224, 221, 221); 
}

.loading {
  color: black;
  font-size: 6rem;
  left: 30rem;
  position: absolute;
  top: 10rem;
}
